
select {
    width: 150px;
    background-color: skyblue;
    color: black;
    font-weight: bolder;
    padding: 10px;
    border: 1px dotted blue;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.23);
    margin: 0 3px;
}