<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Tables </title>
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/11-tables.css">
    </head>
    <body>

        <div ng-app="app">
            <div ng-controller="tableController">
                <div> 
                    Click on button to load data:
                    <button type="button" ng-click="loadData ();"> Load Data </button>
                </div>

                <hr>

                <div>
                    Order by: 
                    <select ng-model="orderByField">
                        <option value="position" selected> Position </option>
                        <option value="name"> Name / Team </option>
                        <option value="played"> Played </option>
                        <option value="won"> Won </option>
                        <option value="draw"> Draw </option>
                        <option value="lost"> Lost </option>
                        <option value="goalsFor"> Goals For </option>
                        <option value="goalsAgainst"> Goals Against </option>
                        <option value="goalsDifference"> Goals Difference </option>
                        <option value="points"> Points </option>
                    </select>

                    Filter by: 
                    <input type="text" ng-model="filterText">
                </div>

                <br>

                <div>
                    <table>
                        <thead>
                            <td> # </td>
                            <td> Position </td>
                            <td> Team </td>
                            <td> Played </td>
                            <td> Won </td>
                            <td> Draw </td>
                            <td> Lost </td>
                            <td> Goals For </td>
                            <td> Goals Against </td>
                            <td> Goals Difference </td>
                            <td> Points </td>
                        </thead>

                        <tbody>
                            <tr ng-repeat="team in content.teams | orderBy: orderByField | filter: filterText">
                                <td> {{ $index + 1 }} </td>
                                <td> {{ team.position }} </td>
                                <td> {{ team.name }} </td>
                                <td> {{ team.played }} </td>
                                <td> {{ team.won }} </td>
                                <td> {{ team.draw }} </td>
                                <td> {{ team.lost }} </td>
                                <td> {{ team.goalsFor }} </td>
                                <td> {{ team.goalsAgainst }} </td>
                                <td> {{ team.goalsDifference }} </td>
                                <td> {{ team.points }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="../libs/angular.min.js"></script>
        <script src="../js/11-tables/app.js"></script>
        <script src="../js/11-tables/controller.js"></script>
    </body>
</html>