<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Select </title>
        <link rel="stylesheet" href="../css/12-select.css">
    </head>
    <body>

        <div ng-app="app">
            <div ng-controller="selectController">
               
                <div>
                    Genres:
                    <select ng-model="currentGenre" ng-options="g for g in genres">
                    </select>

                    <div ng-if="currentGenre !== ''">
                        <h3> Selected: </h3> {{ currentGenre }} 
                    </div>
                </div>

                <br>

                <div>
                    Consoles:
                    <select ng-model="currentConsole">
                        <option ng-repeat="console in consoles" ng-value="console"> {{ console.name }} </option>
                    </select>

                    <div ng-if="currentConsole !== ''">
                        <h3> Selected: </h3> 
                        {{ currentConsole.name }} developed by {{ currentConsole.developer }}, released in {{ currentConsole.year }}.
                    </div>
                </div>

            </div>
        </div>

        <script src="../libs/angular.min.js"></script>
        <script src="../js/12-select/app.js"></script>
        <script src="../js/12-select/controller.js"></script>
    </body>
</html>