<!DOCTYPE html>
<html lang="en">
    <head>
        <title> SQL </title>
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/13-sql.css">
    </head>
    <body>

        <div ng-app="app">
            <div ng-controller="sqlController">
                <div> 
                    Click on button to load data:
                    <button type="button" ng-click="loadData ();"> Load Data </button>
                </div>

                <hr>

                <br>

                <div ng-if="content.length !== 0">
                    <table>
                        <thead>
                            <td> # </td>
                            <td> ID </td>
                            <td> Name </td>
                            <td> Age </td>
                            <td> Last Changed </td>
                        </thead>

                        <tbody>
                            <tr ng-repeat="user in content">
                                <td> {{ $index + 1 }} </td>
                                <td> {{ user.id }} </td>
                                <td> {{ user.name }} </td>
                                <td> {{ user.age }} </td>
                                <td> {{ user.last_changed }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="content.message">
                    <h3> Some error happened! </h3>
                </div>
            </div>
        </div>

        <script src="../libs/angular.min.js"></script>
        <script src="../js/13-sql/app.js"></script>
        <script src="../js/13-sql/controller.js"></script>
    </body>
</html>